body{
    background-color: lightgray;
}
h3{
    text-align: center;
    margin-bottom: 7px;
}
#col1{
    padding: 70px;
    padding-bottom: 0px;
}
.btn{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(220, 250, 114);
    
}
.btnEliminar{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    width: 40px;
    border-radius: 3px;
    background-color: rgb(250, 114, 114);
    
}
.btnEditar{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    width: 40px;
    border-radius: 3px;
    background-color: rgb(114, 250, 186);
    
}
.btnGuardarM{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(49, 184, 230);
    
}
.btnCancelarM{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: salmon;
    
}
.tabla{
    height: 350px;
	overflow-y: scroll;
}
h6{
    color: darkred;
}
#modaledit{
    width: 1700px;
}