body{
    background-color: lightgray;
}
h3{
    text-align: center;
    margin-bottom: 7px;
}
#col1{
    padding: 70px;
    padding-bottom: 0px;
}
.btn{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(220, 250, 114);
    
}
.tabla{
    height: 350px;
	overflow-y: scroll;
}
.de{
    float: right;
}
.btnGuardar{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    width: 250px;
    border-radius: 3px;
    background-color: rgb(49, 184, 230);
    
}
.btnCancelar{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    width: 250px;
    border-radius: 3px;
    background-color: salmon;
}