body{
    background-color: lightgray;
}
h3{
    text-align: center;
    margin-bottom: 7px;
}
#col1{
    padding-left: 50px;
    padding-bottom: 0px;
}
.borde{
    box-shadow: -2px 3px 20px rgb(46, 46, 46);
    padding: 12px;
}
#col2{
    padding-left: 50px;
    padding-bottom: 0px;
}
.tabla{
    height: 200px;
	overflow-y: scroll;
}
.btn{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(220, 250, 114);
    
}
.btnGuardarM{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(49, 184, 230);
    
}
.btnCancelarM{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    border-radius: 3px;
    background-color: salmon;
    
}
.btnGuardar{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    width: 200px;
    border-radius: 3px;
    background-color: rgb(49, 184, 230);
    
}
.btnCancelar{
    border: rgb(138, 138, 138) solid 1px;
    height: 35px;
    width: 200px;
    border-radius: 3px;
    background-color: salmon;
    
}
h6{
    margin-left: 15px;
}